// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$purple: #FA9D1F;
$green: #1EDD88;
$gray: #C5C4CB;
$orange: #fa9d1f14;
$light-gray: #F4F4F4;
$gray-dark: #353535;
$light-strawberry: #ff596459;

$tangerine : #F6A18E;
$purple: #6320EE;
$liver: #464553;
$ghost-white: #F7F7FF;
$gray: #C5C4CB;
$beige: #FFF5DA;
$strawberry: #FF6B71;
$snow: #FAF6F5;
$pale_silver: #D8CACA;
$light-yellow: #FFF5DA;


