body {
  background-color: $snow;
  // background: linear-gradient($snow, #FEE2CF)
}
.categories-options{
  background-color: $liver;
  padding-top: 16px;
  padding-bottom: 16px;
}
.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  // background-image: linear-gradient(to bottom right, $gray, $liver);
  background-color: $liver;
  padding-bottom: 30px;
  width: 100%;
  // border-bottom: $tangerine 3px solid;
  // box-shadow-bottom: 0 0 15px rgba(0,0,0,0.2);
  box-shadow: 0 8px 6px -6px $liver;
  .btn {
    width: 180px;
    margin-top: 16px;
  }
}

.fas {
    color: $tangerine;
    &:hover {
      color: $strawberry
    }
  }
.manage-categories-link {
  float: right;
  color: $tangerine;
  font-size: 0.8rem;
  margin-top: -11px;
  margin-right: 20px;
  &:hover{
  color: $strawberry;
  text-decoration: none;
}
}

.fa-plus-circle {
float:left;
margin: 10px 0 0 20px;
}

.toggle{
    float: left;
    margin-left: 10px;
}
