.banner {
    height: 100vh;
    width: 100vh;
    background-position: center;
    background-size: cover;
  }


.banner-home {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100vh;
  width: 100vw;
  p {
    color: white;
  }
}

.banner-home h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 55px;
  font-weight: bold;
}

.banner-home p {
  font-size: 35px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.visitor-banner{
  background-color: $tangerine;
  color: $liver;
  padding: 5px;
  text-align: center;
  font-size: 1rem
}
