.btn-ghost {
  color: $tangerine;
  border: 1px solid $tangerine;
  padding: 8px 24px;
  border-radius: 14px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
  margin-right: 20px;
  &:hover{
  color: $strawberry;
  border: 1px solid $strawberry;
  text-decoration: none
  }
}

.btn-home {
    background-color: #00000059;

}

.btn-area-fill {
  background-color: $strawberry;
  color: white;
  border: 1px solid $strawberry;
  &:hover{
    background-color: $liver;
    color: white;
    border: 1px solid $liver;

  }
}
.category-active {
    background-color: $tangerine;
    color: white;
    border: 1px solid $tangerine;
    &:hover{
      color: $snow
    }
  }


.fas {
    color: $purple;
    &:hover {
      color: $purple
    }
  }
