.navbar-lewagon {
  justify-content: space-between;
  background-color: $snow;

  box-shadow: 0 8px 6px -6px $liver;
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;

}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.navbar-lewagon .navbar-collapse li {
    text-align: right;
    margin-top: 20px;
    a{
      margin-right: 0px;
    }


}

.collapse:not(.show) {
    display: none;
    li {
    text-align: right;
    margin-top: 0px;
    align-self: center;
    padding: 0 5px;
    margin-right: 10px;
    }
}

.nav-item {
color: $liver;
}
