<div class="fluid-container form">
  <div class="row">
    <div class="col-8 col-md-4 col-xl-4 offset-2 offset-md-4 offset-xl-4">
<%= simple_form_for @location,  validate: true do |f| %>
<%= f.input :city_id, collection: City.all, input_html: { id: "city-select-select2"}, label:false
 %>
<%= f.submit "Add this city to my PépitesBoard", class: "btn btn-ghost btn-area-fill", style: "text-align: center" %>
<% end %>

    </div>
  </div>
</div>
