<div class="container" style="margin-top: 10px;">
  <div class="row">
    <div class="col-1">
      <%= link_to "<<", places_path, class: "btn btn-ghost btn-area-fill"  %>
      </div>
  <div class="col-8 offset-2">
  <div class="place-card">
    <div class="place-card-options">
    <div class="place-card-title">
      Albert Park
    </div>
    <div class="place-card-address">
    <i class="fas fa-map-marker-alt"></i>
      Albert Park Road
    </div>
    <div class="place-card-description">
      <i>"A nice chillout place"</i>
    </div>

  </div>
</div>
