<div class="container">
  <div style="padding-top: 16px;">
    <%= link_to "Add a new Pépite", new_place_path, class: "btn btn-ghost btn-area-fill"  %>
  </div>
  <div class="cards">
    <% @places.each do |place|  %>
    <div class="card">
      <%= link_to "#{place.name}" , place_path(place) %>
      <%=  %>
      <%= link_to '+', place_path(place), method: :delete, data: { confirm: "Are you sure?" }, class: 'card-remove-link'  %>
         </div>
    <% end %>
  </div>
</div>

