<div class="container">
  <div class="row">
  <div class="col-8 offset-2">
  <div class="place-card">
    <div class="place-card-title">
      <%= @place.name  %>
    </div>
    <div class="place-card-address">
    <i class="fas fa-map-marker-alt"></i>
      <%= @place.address %>
    </div>
    <div class="place-card-description">
      <i>"<%= @place.description %>"</i>
    </div>

  </div>
</div>
